<mat-toolbar>
    <button mat-mini-fab color="warn" [mat-menu-trigger-for]="navMenu">
        <mat-icon>dashboard</mat-icon>
    </button>
    <span class="example-icon"></span>
    <mat-icon>{{iconTitle}}</mat-icon>
    <span class="example-icon"></span>
    {{pageTitle}}
    <span class="example-spacer"></span>
    <mat-icon [color]="userStatusColor">account_box</mat-icon>
    <span class="example-icon"></span>
    <mat-icon matBadge="{{counter}}" matBadgePosition="before" mat-BadgeColor="accent">shopping_cart</mat-icon>
    <span class="example-icon"></span>
    <mat-icon [matMenuTriggerFor]="helpMenu">help_outline</mat-icon>
    <span class="example-icon"></span>
    <mat-icon>settings</mat-icon>

    <mat-menu #helpMenu="matMenu">
        {{helpTitle}}
    </mat-menu>

    <mat-menu #navMenu="matMenu">
        <a href="" target="blank"><button mat-menu-item><mat-icon svgIcon="fb"></mat-icon></button></a>
        <a href="" target="blank"><button mat-menu-item><mat-icon svgIcon="linkedin"></mat-icon></button></a>
        <a href="" target="blank"><button mat-menu-item><mat-icon svgIcon="git"></mat-icon></button></a>
        <button mat-menu-item routerLink="/aboutus"><mat-icon>info</mat-icon></button>
        <button mat-menu-item routerLink="/settings"><mat-icon>settings</mat-icon></button>
    </mat-menu>
</mat-toolbar>