<nav class="navbar">
    <mat-icon class="navbarLogo">dashboard</mat-icon>
    <span class="example-icon"></span>
    <span class="example-spacer"></span>
    <ul class="navbarLinks">
        <li><a routerLink="/">Home</a></li>
        <span class="example-icon"></span>
        <li><a routerLink="/shop">Shop</a></li>
        <span class="example-icon"></span>
        <li><a routerLink="/aboutus">About Us</a></li>
        <span class="example-icon"></span>
        <li><a routerLink="/contact">Contact Us</a></li>
    </ul>
    <span class="example-icon"></span>
    <div class="navbarSearch">
        <input type="text" [(ngModel)]="searchKeyword" (keyup)="performSearch()" placeholder="Search products...">

    </div>

    <div class="navbarIcons">
        <a routerLink="/cart"><i class="fas fa-shopping-cart"></i></a>
    </div>
</nav>